<aside class="left-column span3" style="width:270px;">
  <div style="padding-left:10px;">
    <%= form_tag user_wannahelp_index_path, :method => 'get', :id => "wannahelp_search", :class=>"form-search" do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <br/>
      <%= text_field_tag :search, params[:search], :class=> "input-medium search-query" %>
      <%= submit_tag "Search", :name => nil, :class=> "btn" %>
    <% end %>
    <div style="padding-bottom: 10px;">
      <%= image_tag MapUrlBuilder.search_results_map(@repos), alt: "search map" %>
    </div>
  </div>
</aside>
