%aside.left-column.span4{:style => "width:290px"}
  %div{:style => "padding-left: 20px" }
    = search_form_for @search, url: user_wannahelp_index_path(current_user), html: { method: :get } do |f|
      %h4 Filters
      = f.label :language_eq, "Language:"
      = f.select :language_eq, options_for_select(get_filter(@languages), current_value(:language_eq)), {}, {class: "input-medium"}
      %br
      %br
      = f.submit "Search", class: "btn btn-primary"
      = link_to "Clear", user_wannahelp_index_path(current_user), class: "btn"

    %div{:style => "padding-bottom:20px"}
      = image_tag MapUrlBuilder.search_map(@repos), alt: "search map"