<li class="repo-entry">
  <%= image_tag "repo-icon.png", :size => "30x30" %>
  <%= link_to own_repo[:name], own_repo[:html_url], :target => "_blank" %>
  <p class='right'>
    <% if own_repo[:need_help] %>
      <span><%= image_tag 'github-admin.png', class: 'expand-description', :"data-repo" => own_repo[:full_name] %></span>
      <%= link_to "", "#", class: "help-button on", :"data-repo" => own_repo[:full_name]%>
    <% else %>
      <span><%= image_tag 'github-admin.png', class: 'expand-description hidden', :"data-repo" => own_repo[:full_name] %></span>
      <%= link_to "", "#", class: "help-button off", :"data-repo" => own_repo[:full_name] %>
    <% end %>
  </p>
  <div class="current-tags">
    <% Repo.current_tags_for(own_repo[:full_name], current_user.id).each do |tag| %>
      <%= link_to tag, "#", class: 'tag' %>
    <% end if own_repo[:need_help] %>
    <%= link_to 'add/remove tag', nil, class: "add-tag-link smaller-link #{status(own_repo)}", 
      :"data-repo" => own_repo[:full_name] %>
  </div>
  <div class="tagging">
    <%= form_tag tagging_update_tags_path, remote: true do %>
      <ul class="repo-tags">
        <% Repo.current_tags_for(own_repo[:full_name], current_user.id).each do |tag| %>
          <li><span><%= tag %></span></li>
        <% end %>
      </ul>
      <%= hidden_field_tag :repo_name, own_repo[:full_name], class: 'hidden-repo-name'%>
      <%= submit_tag 'Save', class: 'btn btn-primary save-tags-btn' %>
    <% end %>
  </div>
  <div class='repo-user-description'>
    <h4>Describe what help do you need</h4>
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn code-insert" href="#" alt="Insert code sample"><i class="icon-wrench"></i></a>
      </div>
    </div>
    <div class="form-desc">
      <%= form_for :repo, url: '/repos/update_user_description', remote: true,
        html: { class: 'help-desc' } do |f| %>
        <%= hidden_field_tag :repo, own_repo[:full_name] %>
        <%= hidden_field_tag :language, own_repo[:language].downcase %>
        <%= text_area_tag :user_description, own_repo[:user_description], size: '75x12' %>
        <%= submit_tag "Save", class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>
</li>
