<li>
  <%= image_tag "repo-icon.png", :size => "30x30" %>
  <%= link_to own_repo[:name], own_repo[:html_url], :target => "_blank" %>
  <p class='right'>
    <span><%= image_tag 'github-admin.png', class: 'expand-description' %></span>
    <% if own_repo[:need_help] %>
      <%= link_to "", "#", class: "help-button on", :"data-repo" => own_repo[:full_name] %>
    <% else %>
      <%= link_to "", "#", class: "help-button off", :"data-repo" => own_repo[:full_name] %>
    <% end %>
  </p>
  <div class='repo-user-description'>
    <h4>Describe what help do you need</h4>
    <%= form_for 'repo', :url => '/repos/update_user_description', :remote => true do |f| %>
      <%= text_area_tag :user_description, "", size: '60x5' %>
      <%= submit_tag "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</li>
