
<%= image_tag @user.get[:avatar_url], size:'200x200' %>

<h2><%= link_to @user.get[:login], @user.get[:html_url], :target => "_blank" %></h2>
<p>Followers: <%= @user.get[:followers]%></p>
<p>Following: <%= @user.get[:following]%></p>


<%= link_to "Wanna Help", user_wannahelp_index_path(current_user) %>
<%= link_to "Need Help", needhelp_path(current_user) %>


<h2>Repos needing help :)</h2>
<% @user.followers.following.each do |f| %>
<%= f[:login] %>
<% end %>