<section class="content-main container">
  <div class="filters"></div>
  <div class="row">

    <%= render "profile_sidebar" %>

    <div class="center-column span8">
      <article>
        <header>
          <h3 class="repoh3">My Repos, Help Wanted?</h3>
        </header>
        <ul class="ul-clean user-repos">
          <li class="repo-entry">
            <img alt="Repo-icon" height="30" src="images/repo-icon.png" width="30" />
            <a href="" target="_blank">Repo Name</a>
            <button class="btn" type="button">Contrib</button>
          </li>
          </li>
        </ul>
      </article>
      <article>
        <header>
          <h3 class="repoh3">I'm contributing to:</h3>
        </header>
        <ul class="ul-clean user-repos">
          <%= render :partial => 'users/helped_repo', collection: current_user.helped_repos %>
        </ul>
      </article>
    </div>
  </div>
</section>

<!--
  <div class="span9">
    <h3>My Repos, Help Wanted?</h3>
    <div class="span9 border-left">
      <ul class="ul-clean user-repos">
        <%= render :partial => 'users/own_repo', collection: @own_repos %>
      </ul>
    </div>
  </div>
  <div class="span9" style="float: right;">
    <h3>I'm helping to:</h3>
    <div class="span9 border-left">
      <%- if current_user.helped_repos.any? %>
        <ul class="ul-clean user-repos">
          <%= render :partial => 'users/helped_repo', collection: current_user.helped_repos %>
        </ul>
      <% else %>
        <h4>You're not helping anybody, share some love <%= link_to "here", user_wannahelp_index_path(current_user) %>.</h4>
      <% end %>
    </div>
  </div>
</div>
<div class="row-fluid"></div>
-->
