<div class="row-fluid">
  <div class="span3 box-holder">
    <%= image_tag @user.get[:avatar_url], size:'100x100', class: "img-polaroid" %>
    <div id="center-text">
        <h4><%= @user.get[:name]%></h4>
        <p><%= link_to "GitHub Profile", @user.get[:html_url], :target => "_blank" %></p>

        <p><%= link_to "I wanna help", user_wannahelp_index_path(current_user), class: "btn btn-primary btn-large action" %></p>
      </div>
  </div>
  <div class="span9">
    <h3>Your Repos, Need Help?</h3>
    <div class="span9 border-left">

      <ul class="ul-clean user-repos">
        <%= render :partial => 'users/repo', collection: @user_repos %>
      </ul>

    </div>

    <div class="span9">
    <div class="row-fluid">
    <h3>I am helping to:</h3>
      <div class="span9 border-left">
        <ul class="ul-clean">
        <% @user_helping.each do |helped| %>
            <li>
              <%= button_tag "", class: get_css_status(current_user, helped.repo) %>
              <%= link_to helped.repo.name, helped.repo.github_url, :target => "_blank" %>
              - Author:
              <%= link_to helped.repo.user.name, "https://github.com/#{helped.repo.user.name}", :target => "_blank" %>
              <br/> <strong>Description:</strong> <%= helped.repo.description %>
            </li>
        <% end %>
        </ul>
    </div>

    </div>
  </div>
</div>


<div class="row-fluid"></div>
