<div class="row-fluid">
  <div class="span3 box-holder">
    <%= image_tag @user.get[:avatar_url], size:'100x100', class: "img-polaroid" %>
    <div id="center-text">
      <h4><%= @user.get[:name]%></h4>
      <p>
        <i class="icon-user"></i>&nbsp;
        <a href="<%= @user.get[:html_url] %>" target="_blank">GitHub Profile</a>
        <br/>
        <i class="icon-home"></i>&nbsp;<%= current_user.location %>
      </p>
      <ul class="unstyled stats">
        <li>
          <strong><%= @user.get[:followers] %></strong>
          <span>Followers</span>
        </li>
        <li>
          <strong><%= @user.get[:following] %></strong>
          <span>Following</span>
        </li>
        <li>&nbsp;</li>
        <li>
          <strong><%= @user.get[:public_repos] %></strong>
          <span>Own Repos</span>
        </li>
        <li>
          <strong id="need-help"><%= @repos_needing_help %></strong>
          <span>Need Help</span>
        </li>
        <li>
          <strong><%= @repos_helping.count %></strong>
          <span>Helping</span>
        </li>
      </ul>
      <p><%= build_static_map(current_user) %></p>
    </div>
  </div>

  <div class="span9">
    <h3>My Repos, Help Wanted?</h3>
    <div class="span9 border-left">
      <ul class="ul-clean user-repos">
        <%= render :partial => 'users/own_repo', collection: @own_repos %>
      </ul>
    </div>
  </div>
  <div class="span9" style="float: right;">
    <h3>I'm helping to:</h3>
    <div class="span9 border-left">
      <%- if @repos_helping.any? %>
        <ul class="ul-clean user-repos">
          <%= render :partial => 'users/helped_repo', collection: @repos_helping %>
        </ul>
      <% else %>
        <h4>You're not helping anybody, share some love <%= link_to "here", user_wannahelp_index_path(current_user) %>.</h4>
      <% end %>
    </div>
  </div>
</div>
<div class="row-fluid"></div>
