<%= render "map" %>
<section class="content-main container">

  <div class="row">
    <aside class="left-column span4">
      <header>
        <h4 class="title">Featured Repos</h4>
      </header>
      <div class="sidebar-body">
        <ul>
          <% @featured_repos.each do |repo| %>
            <li>
              <div class="icon sprites compu"></div>
              <ul class="submenu">
                <li><strong>Repo:</strong> <a href="<%= repo.github_url %>"><%= repo.name %></a></li>
                <li><strong>Author:</strong> <%= repo.user.name %></li>
                <li><strong>From:</strong> <%= repo.user.location %></li>
                <li><strong>Language:</strong> <%= repo.language %></li>
                <li><strong>Issues:</strong> <%= repo.open_issues %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </aside>
    <div class="center-column span8">
      <article>
        <header>
          <h3 class="slogan">Making it easier to find cool repos to hack on!</h3>
        </header>
        <div class="article-body">
          <p>
            You like open-source? You want to contribute or get help with your own project? Contribhub brings these people together! Simply click "Wanna Help!" if you found something cool to hack on or put your repos on the list of needy.
          </p>
          <div class="button-zone">
            <a id="auth-login" href="/auth/github">
              <button id="i-want-to-contrib" class="nostyle contrib"><span class="sprites i-want-to-contrib">I Want to contrib</span></button>
              <button id="log-in-git-hub" class="nostyle"><span class="sprites github-black">Login GitHub</span></button>
              <button id="i-wat-to-be-contrib" class="nostyle contrib"><span class="sprites i-want-to-be-contrib">I Want to be contrib</span></button>
            </a>
          </div>
          <div class="leyend-zone">
            <div id="flechas" class="flechas sprites"></div>
            <p class="to-contrib">Search for an Open Source project and help them</p>
            <p class="to-be-contrib">Ask your GitHub followers to contribute to your Open Source project</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
