<header>
  <div class="github-fork-ribbon-wrapper left">
    <div class="github-fork-ribbon"><a href="https://github.com/orendon/contrib-hub">Fork me on GitHub</a></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span3"><a href="<%= root_url %>" id="logo" class="sprites logo-contribhub">Contrib Hub</a></div>
      <nav role="navegation" class="span6">
        <ul class="main-menu">
          <%- if @home_page %>
            <li><a href="/auth/github">Sign In</a></li>
          <% else %>
            <li><%= link_to "My Profile", user_path(current_user) %></li>
            <li><%= link_to "I Wanna Help", user_wannahelp_index_path(current_user) %></li>
          <% end %>
        </ul>
      </nav>
      <%- if not @home_page %>
        <div class="login span1 offset1">
          <ul class="nav pull-right">
            <li id="fat-menu" class="dropdown"><a href="#" id="dropnav" role="button" data-toggle="dropdown" class="dropdown-toggle sprites dropdownnav"></a>
              <ul role="menu" aria-labelledby="drop3" class="dropdown-menu">
                <li><%= link_to "My Profile", user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</header>