
<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_gon %>
    <meta charset="utf-8">
    <title>ContribHub - We Love Open Source as You, Wanna Help?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The place where GitHubbers join">
    <meta name="author" content="">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>

    <style type="text/css">
      body {
        padding-top: 115px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="https://github.com/orendon/contrib-hub">Fork me on GitHub</a>
      </div>
    </div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= user_url(current_user) %>"><img src="/assets/logo-contribhub-small.png" alt="logo-contribhub-small"></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "My Profile", user_path(current_user) %></li>
              <li><%= link_to "I Wanna Help", user_wannahelp_index_path(current_user) %></li>
            </ul>
            <ul class="pull-right signout">
              <li class="nav-li">
                <%= link_to "Sign Out [#{current_user.name}]", signout_path, class: "btn btn-auth btn-large btn-github", id: "button-login-nav" if current_user %>
                </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <%= yield %>

      <footer>
        <hr/>
        <p class="center-text"><em>ContribHub was born in 2012 at <a href="http://pulsoconf.co">PulsoConf/BogotaConf</a> Hackathon, and now is growing thanks to people that love to help.</em></p>
      </footer>

    </div> <!-- /container -->

    <%= javascript_include_tag "application" %>

  </body>
</html>
