
<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_gon %>
    <meta charset="utf-8">
    <title>ContribHub - We Love Open Source as You, Wanna Help?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The place where GitHubbers join">
    <meta name="author" content="">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>

    <style type="text/css">
      body {
        padding-top: 115px;
        padding-bottom: 40px;
      }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config peopleidentify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);mixpanel.init("8472ff84b777931eba16c07752882f6b");</script><!-- end Mixpanel -->
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123456789";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="https://github.com/orendon/contrib-hub">Fork me on GitHub</a>
      </div>
    </div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= user_url(current_user) %>"><img src="/assets/logo-contribhub-small.png" alt="logo-contribhub-small"></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "My Profile", user_path(current_user) %></li>
              <li><%= link_to "I Wanna Help", user_wannahelp_index_path(current_user) %></li>
            </ul>
            <ul class="pull-right signout">
              <li class="nav-li">
                <%= link_to "Sign Out [#{current_user.name}]", signout_path, class: "btn btn-auth btn-large btn-github", id: "button-login-nav" if current_user %>
                </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <%= yield %>

      <%= render "/layouts/footer" %>

    </div> <!-- /container -->

    <%= javascript_include_tag "application" %>

  </body>
</html>
