<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7",lang=''><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8",lang=''><![endif]--><!--[if IE 8]><html class="no-js lt-ie9",lang=''><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>ContribHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ContribHub">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <!-- Css Styles-->
    <%= stylesheet_link_tag "style", "bootstrap.min", "bootstrap-responsive.min", "profile", :media => "all" %>
    <!-- Libraries-->
    <!-- Javascript extra-->
    <%= javascript_include_tag "modernizr-2.6.2" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="javascripts/html5shiv/html5shiv.js"></script>
      <script src="javascripts/html5shiv/html5shiv-printshiv.js"></script>
    <![endif]-->
    <!-- Support for IE6-8 of HTML5 elements-->
  </head>

  <body>
    <%= render "/layouts/header" %>

    <%= yield %>

    <%= render "/layouts/footer" %>

    <%= javascript_include_tag "application" %>

    <%- if @home_page %>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <%= javascript_include_tag "map" %>
    <% else %>
      <%= javascript_include_tag "contribhub", "tag_repo" %>
    <% end %>
  </body>

</html>
